.item {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    width: 31%;
    background: rgba(255,255,255,0.6);
}
.item:hover {
    cursor: pointer;
    background: #fff;
}
.item img {
    width: 100%;
}
