.bill {
    width: 19%;
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.total {
    display: flex;
    padding: 2px 0;
}

.order-details {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}

.total-name {
    flex-grow: 10;
}

.remove-button {
    border: 0;
    border-radius: 4px;
    background: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.5);
}

.sum {
    text-transform: uppercase;
}