.item-box {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    background: rgba(0,0,0,0.2);



}